################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Test Proj/.vs/Test Proj
/Test Proj/Test Proj/obj
/Test Proj/Test Proj/bin/Debug/net6.0
/Homework 20.09.2023/.vs/Homework 20.09.2023
/Homework 20.09.2023/Homework 20.09.2023/obj
/Homework 20.09.2023/Homework 20.09.2023/bin/Debug/net6.0
/Homework 20.09.2023/.vs/ProjectEvaluation
