################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Test Proj/.vs/Test Proj
/Test Proj/Test Proj/obj
/Test Proj/Test Proj/bin/Debug/net6.0
